<!DOCTYPE html>
<html ng-app="helloWorldApp">
<head>
    <title>Hello world</title>
    <meta charset="utf-8" />
    <script src="../Libraries/angular.min.js"></script>
    <script>

        //Model
        var model = "Hello World";        

    var helloWorldApp = angular.module("helloWorldApp", []);
        //Controller
    helloWorldApp.controller("HelloWorldCtrl", function ($scope) {        
        $scope.message = model;        

        //Behavior поведение
        $scope.clickHandler = function ()
        {
            $scope.message = $scope.text;
        }
        });

    </script>

</head>
<body ng-controller="HelloWorldCtrl">
    
    <h1>{{message}}</h1>
    <span ng-bind="message">ng-bind</span><br/>
    <span ng:bind="message">ng-bind</span><br />
    <span ng_bind="message">ng-bind</span><br />
    <span data-ng-bind="message">ng-bind</span><br />
    <span x-ng-bind="message">ng-bind</span><br />    

    <input ng-model="text"/>
    <button ng-click="clickHandler()">Обновить</button>
    <div>
        Two-way link text: <h3>{{text}}</h3>
    </div>
    
</body>
</html>
