<!DOCTYPE html>
<html ng-app="App">
<head>
    <title>Loan Calculator</title>

    <script src="js/angular.min.js"></script>
    <script src="js/calce.js"></script>
    <script src="js/anychart-bundle.min.js"></script>    

    <link href="css/MyStyleSheet.css" rel="stylesheet" />
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="css/bootstrap-theme.css" rel="stylesheet" />
    <link href="css/anychart-ui.min.css" rel="stylesheet" />

    <style>
        html, body, #diagram {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>


    <link media="print" rel="stylesheet" href="css/angularPrint.css">
    <script src="js/angularPrint.js"></script>

</head>
<body style="background:url(img/back.png)" ng-controller="CourceListCtrl">
    <div print-section class="container">
        <a href="calc.html"><img style="border:none; margin-top: 20px;" width="60" height="60" align="right" src="img/ru.png" /></a>
        <div class="page-header">
            <h1 style="color:white">
                Loan Calculator
            </h1>
        </div>
        <div align="right"><button print-btn style="align-content:flex-end;" class="btn-danger">Print</button></div>
        <div class="panel">
            <table class="table table-hover">
                <tr>
                    <th>
                        <h3>Enter details:</h3>
                    </th>
                    <td></td>
                    <td rowspan=7>
                        <img src="/img/c.jpg" ng-hide="logo" style="border:none" />
                        <div ng-show="result" id="graph" style="margin: 0; padding: 0;"></div>
                    </td>                    
                </tr>
                <tr>
                    <td>
                        Loan amount($):
                    </td>
                    <td>
                        <input id="amount" ng-model="amount" ng-change="clear()" type="number" value="10000" min="1">
                    </td>                                      
</tr>
                <tr>
                    <td>Loan term in years:</td>
                    <td><input type="number" id="years" ng-model="years" value="2" ng-change="clear()" min="1"></td>                    
                </tr>
                <tr>
                    <td>Interest rate per year(%):</td>
                    <td><input type="number" id="apr" ng-model="apr" min="0" value="10" ng-change="clear()"></td>                    
                </tr>
                <tr>
                    <td>Monthly maintenance fee($):</td>
                    <td><input type="number" id="commis" ng-model="commis" ng-change="clear()" value="0" min="0"></td>                    
                <tr>
                    <td>Types of loan repayment schedules:</td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="typepayment" ng-model="payment.type" value="Annu" ng-change="calculateByMonth()">Even Total Payments<br />
                        </label>
                    </td>                    
                <tr>
                    <td><button class="btn-success" ng-click="calculateByMonth();">Calculate</button></td>
                    <td>
                        <label class="radio-inline" style="align-content:flex-start">
                            <input type="radio" name="typepayment" ng-model="payment.type" value="Diff" ng-change="calculateByMonth()">Even Principal Payments<br />
                        </label>
                    </td>                    
                    </tr>                    
            </table>
        </div>

        <div class="panel"  ng-show="result">
            <table class="table table-hover">                       
                <tr>
                    <th><h4>Result:</h4></th>                    
                    <th><h5>${{amountText}} Loan, {{apr}}% Annual Interest</h5></th>
                    <th><h5>{{count}} Monthly Payments  <span ng-show="commisShow">(${{commis}} Monthly Maintenance Fee)</span></h5></th>
                </tr>
                <tr>                    
                    <td>{{paymentMonth}}</td>
                    <td>$<span class="output" id="payment">{{monthly}}</span></td>                                        
                    <td rowspan=7><div id="diagram"></div></td>
                </tr>
                <tr ng-show="lasttr">
                    <td>{{lastMonth}}</td>
                    <td>$<span class="output" id="payment">{{lastmonthly}}</span></td>
                </tr>
                <tr>
                    <td>Total Interest:</td>
                    <td>$<span class="output" id="totalinterest">{{percent}}</span> </td>                    
                </tr>
                <tr>
                    <td>Total Fee:</td>
                    <td>$<span class="output" id="totalfee">{{fee}}</span> </td>
                </tr>
                <tr>
                    <td>Total Interest + Fee:</td>
                    <td>$<span class="output" id="totalfeepercent">{{feepercent}}</span></td>
                </tr>
                <tr>
                    <td style="font-size:large">Total of {{count}} payments:</td>
                    <td style="font-size:large">$<span class="output" id="total">{{total}}</span></td>
                </tr>                
</table>
        </div>

            <div  ng-show="result" class="panel">             
                <div>                    
                    <table class="table table-hover">
                        <thead>
                            <tr class="well">
                                <th>Month</th>
                                <th>Beginning Balance</th>
                                <th>Interest + Fee</th>
                                <th>Principal</th>
                                <th>Total Payment</th>
                                <th>@</th>
                                <th>Paid</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="payment in data.payments" class="{{payment.style}}" style="font-size:{{payment.font}}">
                                <td>
                                    {{payment.month}}
                                </td>
                                <td>
                                    {{payment.amount}}
                                </td>
                                <td>
                                    {{payment.perc}}
                                </td>
                                <td>
                                    {{payment.main}}
                                </td>
                                <td style="font-weight:bold">
                                    {{payment.pay}}
                                </td>
                                <td>
                                    <input type="checkbox" ng-model="payment.passed" />
                                </td>
                                <td>
                                    <span style="{{setStyle(payment.passed)}}">
                                        {{showText(payment.passed)}}
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>




</body>
</html>
